<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Create a New List</h1>
  </div>
</div>

<%= simple_form_for [ @list ] do |f| %>
  <%= f.input :name  %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<p> <%= link_to "Back", lists_path %> </p>
